
<section class="jumbotron text-center">
	<div class="container">
		<b><h1 class="jumbotron-heading mt-5 pb-3 text-light" style="font-family: arial;">Eventbruh</h1></b>
		<p class="lead text-light" style="font-family: arial;">Share your passion with a bruh network.</p>
		<% if user_signed_in? == false %>
		<%= link_to 'Start now', new_user_registration_path, :class => "btn btn-lg btn-info" %>
		<% end %>
	</div>
</section>

<div class="album py-5 bg-light">
	<div class="container">
		<h5>Events near you</h5>
		<p>See what's happening soon in your area.</p> 
		<%= render "allevents" %>
	</div>
</div>

  <%= render "layouts/footer" %>    



