<!DOCTYPE html>
<html lang="fr">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <title>Registration email</title>
</head>
  <body>
    <p>Félicitation <%= @admin.first_name %>, nous t'informons que <%= @participant.first_name %> vient de s'incrire à ton évènement <%= @attendance.event.title %> !</p>
  </body>
</html>