<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left ml-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Information</h5>
        <p>Don't hesite to contact us to get more info about our activities. Cheers!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Discover</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Press</a>
          </li>
        </ul>

      </div>      

      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Help us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Team</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
          <li>
            <a href="#!">Join us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> eventbruh.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
